.search-div{
  display: flex;
  gap:2;
}
.search-input{
  background: #eee;
  border: none;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  padding: 0.2rem 2rem;
  width: 200px;
  outline: none;
  margin-left: 2px;
}
.search-icon{
  background: rgb(67,67,240);
  padding: 3px;
  width: fit-content;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.profile-img{
  width: 35px;
  margin-top: -5px;
  margin-left: 50px;

}
.content-div{
  display: flex;
  content: space-between;
}
.body{
  border: solid 0.1rem  #ccc;
  height: 50hv;
 
}